@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body::-webkit-scrollbar,
*::-webkit-scrollbar {
  width: 0 !important;              /* Chrome, Safari, Opera */
  height: 0 !important;
}

body {
  overflow-x: hidden;
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Chrome, Safari, Edge - hide scrollbar buttons */
.app-scrollbar::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}
/* 
@media screen and (max-width: 1366px) {
  body {
    zoom: 0.8;
  }
} */
